{
  "extends": ["prettier"],
  "plugins": ["import", "react"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "globals": {
    "cy": true,
    "Cypress": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "settings": {
    "react": {
      "version": "17"
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "import/no-named-as-default": 0,
    "react/static-property-placement": [
      "error",
      "property assignment",
      {
        "childContextTypes": "static public field",
        "contextTypes": "static public field",
        "contextType": "static public field",
        "defaultProps": "static public field",
        "displayName": "static public field",
        "propTypes": "static public field"
      }
    ],
    "react/state-in-constructor": ["error", "never"],
    "no-console": [1, { "allow": ["error"] }],
    "no-restricted-syntax": "off"
  }
}
